:root { 
--white_A700_7f:#ffffff7f; 
--teal_A400_01:#21f5c2; 
--black_900_c4:#000000c4; 
--amber_400:#f5c518; 
--teal_A400:#22f5c3; 
--white_A700_00:#ffffff00; 
--white_A700_66:#ffffff66; 
--black_900_01:#000000; 
--black_900_00:#00000000; 
--black_900_cc:#000000cc; 
--black_900:#06091c; 
--white_A700_19:#ffffff19; 
--blue_400:#4a99e9; 
--white_A700_16:#ffffff16; 
--white_A700:#ffffff; 
}